#invitation {
  margin-block: 5vmax 25vmax;

  font-family: 'SensaSans', serif;
  font-weight: normal;
}

#invitation .content {
  width: 100%;
  min-width: 60vw;

  font-size: min(3rem, 5vw);
  text-wrap: balance;
}

#invitation p {
  margin-block: 7%;
}

#invitation .recipient {
  display: inline-block;
  font-size: 190%;
  font-family: 'GUERRILLA', serif;
  color: var(--clr-accent);
}

#invitation input.recipient {
  max-width: 40%;
  background-color: transparent;
  font-size: inherit;
}