#landing {
  max-width: 100%;
  min-height: 100vh;

  font-family: 'ArtNouveauBistro', serif;
}

#landing .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 80vw;
  min-height: 80vh;
  padding-top: min(20vw, 30vh);
  font-size: min(10rem, min(20vw, 30vh));
  line-height: 65%;
  letter-spacing: -0.04em;
  font-weight: normal;
}

#landing .heading span {
  font-size: 140%;
  line-height: 150%;
}