@font-face {
  font-family: 'SensaSans';
  src: url('/assets/fonts/SensaSans.ttf') format('truetype');
  font-display: swap;

}

@font-face {
  font-family: 'GUERRILLA';
  src: url('/assets/fonts/GUERRILLA.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'ArtNouveauBistro';
  src: url('/assets/fonts/ArtNouveauBistro.ttf') format('truetype');
  font-display: swap;
}

:root {
  --clr-primary-100: hsl(0, 0%, 100%);
  --clr-primary-300: hsl(43, 100%, 95%);
  --clr-primary-500: hsl(84, 41%, 68%);
  --clr-primary-600: hsl(108, 34%, 31%);
  --clr-primary-700: hsl(136, 24%, 27%);
  --clr-primary-800: hsl(119, 49%, 18%);
  --clr-primary-900: hsl(0, 0%, 0%);
  --clr-accent: hsl(29, 50%, 56%);

  --border-spacing: 15%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  color-scheme: only light;
}

body {
  color: var(--clr-primary-800);
  text-align: center;
  background-color: var(--clr-primary-300);
}

main,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  margin-inline: var(--border-spacing);
}

img {
  max-width: 100%;
  display: inline-block;
}

footer {
  width: 100%;
  border-radius: 30% 30% 0 0;
  background: var(--clr-primary-600);
}

footer p {
  margin: 2vh;
  color: var(--clr-primary-300);
  font-family: 'GUERRILLA', serif;
  font-size: min(2rem, 7vw);
  line-height: 80%;
  font-style: italic;
  text-wrap: balance;
}