#program {
  flex-direction: column;
  gap: 10vmax;

  font-family: 'GUERRILLA', serif;
}

#program .headline {
  width: 100%;
  margin-block-end: 10%;

  font-size: min(10rem, 30vw);
}

#program .card {
  flex: 1;
  align-self: stretch;
}

#program .card .caption {
  color: var(--clr-primary-500);
  text-shadow: 0.03em 0.03em var(--clr-primary-700);
  font-size: min(9rem, 17vw);
  font-weight: normal;
}

#program .card .icon {
  margin-block: 5%;
  max-width: 50%;
}

#program .card .description {
  margin-block-end: 5%;

  font-family: 'SensaSans', serif;
  font-size: min(2.5rem, 6vw);
  font-weight: normal;
}

#program .card .sub-description {
  position: relative;
  font-size: min(3rem, 6vw);
  font-style: italic;
}

#program .card .sub-description::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--clr-primary-800);
}